<div class="row bg-white">
    <div class="col d-flex justify-content-around m-2"> 
        <button class="btn btn-light">
            <i class='fas fa-bars'></i>
        </button>
        <button class="btn btn-light">
            <i class='fas fa-plus'></i>
        </button>
        <button class="btn btn-light">
            <i class="fas fa-trash"></i>
        </button>
        <button class="btn btn-light">DELETE ALL</button>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center m-2">
        <input type="text" class="form-control" placeholder="Search Notes">
    </div>
</div>

<!-- New Notes Card and Display real time typing by user -->

<div *ngFor="let item of notesItem$ | async">
    <div class="mt-2 mb-2">
        <app-notes-summary-card
            [notes]="item"
        ></app-notes-summary-card>
    </div>    
</div>

<!-- Dispaly already created notes cards -->

<div *ngFor="let item of notesItem$ | async">
    <div class="mt-2 mb-2">
        <app-notes-summary-card
            [notes]="item"
        ></app-notes-summary-card>
    </div>    
</div>
