<div class="row bg-white">
    <div class="col d-flex justify-content-start m-2"> 
        <button class="btn btn-light">
            <i class='fas fa-bars'></i>
        </button>
        <button 
        class="btn btn-light ml-2"
        [disabled]="!activeNoteId"
        (click)="deleteSelectedNote()"
        >
            <i class="fas fa-trash"></i>
        </button>
        <button class="btn btn-light ml-2" 
            (click)="deleteAllNotes()"
        >DELETE ALL</button>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center m-2" [formGroup]="form">
        <input type="text" formControlName="searchText" class="form-control" placeholder="Search Notes">
    </div>
</div>

<!-- New Notes Card and Display real time typing by user -->

<!-- <div *ngFor="let item of (notesItem$ | async)">
    <div class="mt-2 mb-2">
        <app-notes-summary-card
            [notes]="item | search: searchValues"
        ></app-notes-summary-card>
    </div>    
</div> -->

<!-- Dispaly already created notes cards -->

<div *ngFor="let item of (notesItem$ | async | search: searchValues)">
    <div class="mt-2 mb-2" style="cursor: pointer;" (click)="onNoteSelected(item)">
        <app-notes-summary-card
            [notes]="item"
            [activeNoteId]="activeNoteId"
        ></app-notes-summary-card>
    </div>    
</div>
