<div>
  <div class="row mt-2">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 d-flex justify-content-start">
      <button class="btn btn-light"
      [disabled] = "disabledAddBtn"
      (click)="addNotes()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 d-flex align-items-center">
     {{currentTimeStamp}}
    </div>
  </div>
  <div class="row mt-2">
    <form [formGroup]="form" class="w-100">
      <textarea
        class="form-control"
        formControlName="notesText"
        rows="25"
        placeholder="Enter Notes Here"
      ></textarea>
    </form>
  </div>
</div>
